<% provide :title, t(".title_about") %>

<h1><%= t ".title_about" %></h1>
<p>
  <%= link_to t(".name_book"), "http://www.railstutorial.org" %>
  <%= t ".is_a" %> <%= link_to t(".book"), "http://www.railstutorial.org/book" %>
  <%= t ".and" %>
  <%= link_to "screencast series", "http://screencasts.railstutorial.org/" %>
  <%= t ".to" %>
  <%= link_to "screencast series", "http://rubyonrails.org/" %>.
  <%= t ".detail" %>
</p>
