<% provide :title, t(".title_help") %>
<h1><%= t ".title_help" %></h1>
<p>
  <%= t ".detail1" %>
  <%= link_to "Rails Tutorial help section", "http://www.railstutorial.org/help" %>
  .
  <%= t ".detail2" %>
  <%= link_to "Ruby on Rails Tutorial", "http://www.railstutorial.org/book" %>.
</p>
