<% provide :title, t("layouts.application.home") %>
<div class="center jumbotron">
  <h1><%= t ".sam" %></h1>

  <h2>
    <%= t ".info1" %>
    <%= link_to "Rails Tutorial help section", "http://www.railstutorial.org" %>
    <%= t ".info2" %>.
  </h2>
  <% if logged_in? %>
    <h1>Chào mừng đến với web của Linh</h1>
  <% else %>
    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  <% end %>
</div>
  <%= image_tag("linh.jpg", alt: "kitten") %>
